.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

    .item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
        background: #428bca;
    }

    .item.list-group-item .list-group-image {
        margin-right: 10px;
    }

    .item.list-group-item .thumbnail {
        margin-bottom: 0px;
    }

    .item.list-group-item .caption {
        padding: 9px 9px 0px 9px;
    }

    .item.list-group-item:nth-of-type(odd) {
        background: #eeeeee;
    }

    .item.list-group-item:before, .item.list-group-item:after {
        display: table;
        content: " ";
    }

    .item.list-group-item img {
        float: left;
    }

    .item.list-group-item:after {
        clear: both;
    }

.list-group-item-text {
    margin: 0 0 11px;
}


.serviceBox {
    text-align: center;
    margin-top: 60px;
    position: relative;
    z-index: 1;
    margin-bottom: 21px;
}

    .serviceBox .service-icon {
        width: 78px;
        height: 78px;
        border-radius: 3px;
        background: #fff;
        margin: 0 auto;
        position: absolute;
        top: -34px;
        left: 0;
        right: 0;
        z-index: 1;
        transition: all 0.3s ease-out 0s;
    }

    .serviceBox:hover .service-icon {
        transform: rotate(45deg);
    }

    .serviceBox .service-icon span {
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 3px;
        background: #727cb6;
        font-size: 30px;
        color: #fff;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all 0.3s ease-out 0s;
    }

        .serviceBox .service-icon span i {
            transition: all 0.3s ease-out 0s;
        }

    .serviceBox:hover .service-icon span i {
        transform: rotate(-45deg);
    }

    .serviceBox .service-content {
        background: #fff;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        padding: 55px 15px;
        position: relative;
    }

        .serviceBox .service-content:before {
            content: "";
            display: block;
            width: 80px;
            height: 80px;
            border: 1px solid #e7e7e7;
            border-radius: 3px;
            margin: 0 auto;
            position: absolute;
            top: -37px;
            left: 0;
            right: 0;
            z-index: -1;
            transition: all 0.3s ease-out 0s;
        }

    .serviceBox:hover .service-content:before {
        transform: rotate(45deg);
    }

    .serviceBox .title {
        font-size: 17px;
        font-weight: 500;
        color: #324545;
        text-transform: uppercase;
        margin: 0 0 25px 0;
        position: relative;
        transition: all 0.3s ease-out 0s;
    }

    .serviceBox:hover .title {
        color: #727cb6;
    }

    .serviceBox .description {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 0;
    }

    .serviceBox .read-more {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 38px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #e7e7e7;
        font-size: 14px;
        color: #c4c2c2;
        margin: 0 auto;
        position: absolute;
        bottom: -17px;
        left: 0;
        right: 0;
        transition: all 0.3s ease-out 0s;
    }

        .serviceBox .read-more:hover {
            border: 1px solid #727cb6;
            color: #727cb6;
            text-decoration: none;
        }

    .serviceBox.green .service-icon span {
        background: #008b8b;
    }

    .serviceBox.blue .service-icon span {
        background: #3498db;
    }

    .serviceBox.orange .service-icon span {
        background: #e67e22;
    }

    .serviceBox.green:hover .title {
        color: #008b8b;
    }

    .serviceBox.blue:hover .title {
        color: #3498db;
    }

    .serviceBox.orange:hover .title {
        color: #e67e22;
    }

    .serviceBox:hover .read-more {
        border: 1px solid #727cb6;
        color: #727cb6;
    }

    .serviceBox.green:hover .read-more {
        border: 1px solid #008b8b;
        color: #008b8b;
    }

    .serviceBox.blue:hover .read-more {
        border: 1px solid #3498db;
        color: #3498db;
    }

    .serviceBox.orange:hover .read-more {
        border: 1px solid #e67e22;
        color: #e67e22;
    }

.navbar {
    margin-bottom: 0;
}

section {
    width: 100%;
    float: left;
}

.banner-section {
    background-image: url('../../Images/t18_vet_1.jpg');
    background-size: cover;
    height: 380px;
    left: 0;
    position: absolute;
    top: 0;
    background-position: 0;
}

.post-title-block {
    padding: 100px 0;
}

    .post-title-block h1 {
        color: #fff;
        font-size: 85px;
        font-weight: bold;
        text-transform: capitalize;
    }

    .post-title-block li {
        font-size: 20px;
        color: #fff;
    }

.image-block {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.footer-link {
    float: left;
    width: 100%;
    background: #222222;
    text-align: center;
    padding: 30px;
}

    .footer-link a {
        color: #A9FD00;
        font-size: 18px;
        text-transform: uppercase;
    }